---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE, MENU } from '../consts';
---

<header>
	<h2>
		{SITE_TITLE}
	</h2>
	<nav class="menu">
    {
      MENU.map(menu => (
        <HeaderLink href={menu.link} target={ menu.blank ? '_blank' : ''} list={ menu.children }>{ menu.name }</HeaderLink>
      ))
    }
	</nav>
</header>
<style lang='less'>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
  .menu {
    display: flex;
    align-items: center;
  }
</style>
